/* &display=swap */
/* ======================Шрифт для макета====================== */
@import url(https://fonts.googleapis.com/css?family=Lato:regular,700,900,&display=swap);
/* ================================================================ */


.wrapper {
	overflow: hidden;
	min-height: 100%;
 }
 [class *=__container]{
	max-width: 1230px;
	margin: 0 auto;
 }


body{
	font-family: Lato;
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	line-height: 1.6;
	color: #424551
}
h1{
	font-weight: 900;
	font-size: 46px;
	line-height: 1.3;
	color: #1E212C;
}
h3,h4,h5,h6{
	font-weight: 700;
	font-size: 28px;
	line-height: 1.5;
	color: #1E212C;
}

.about-courses__title {
	margin-bottom: 40px;
 }
.about-courses__text { 
	margin-bottom: 48px;
}
.subtitle {
	margin-bottom: 24px;
 }
.list{
	margin-bottom: 30px;
}
.list__item{
	padding-left:32px;
	background: url(../image/check.svg)0 6px no-repeat;
}
.list__item:not(:last-child) {
	margin-bottom: 4px;
 }
 /* ============================================== */

.course-curator__title h6{
	margin-bottom: 8px;
 }
 .course-curator__title h1{
	 margin-bottom: 16px;
 }
.cousrse-curator__aside {
	font-size: 20px;
	line-height: 1.5;
	color: #787A80;
	margin-bottom: 32px;
 }
 .course-curator__list{
	 margin-bottom: 32px;
 }
.course-curator__list li{
	font-weight: 700;
	color: #424551;
	padding-left: 24px;
 }
 .course-curator__list li:not(:last-child){
	 margin-bottom: 4px;
 }
 .course-curator__list li:nth-child(1){
	 background: url(../image/Star.svg)0 5px no-repeat;
 }
 .course-curator__list li:nth-child(2){
	background: url(../image/Play.svg)0 5px no-repeat;
 }
 .course-curator__list li:nth-child(3){
	background: url(../image/Person.svg)0 5px no-repeat;
 }

 .course-curator__text{
	 margin-bottom: 100px;
 }
/* ======================================================= */
.block-links::before{
	display: inline-block;
	content: "";
	width: 1200px;
	height: 4px;
	background-color: rgb(207, 12, 6);
	margin: 0 0 100px 8px;
}

.block-links__item{
	display: inline-block;
	padding: 15px 25px;
	font-size: 38px;
	font-weight: 700;
	line-height: 1.5;
	margin: 0 0 40px 70px;
	background-color: #d62620;
	color: rgb(205, 219, 12);
	border-radius: 20px;
	box-shadow: 0 0 10px 6px rgb(16, 16, 17);
	opacity: 0.7;
}
.block-links__item:hover{
	opacity: 1;
}
.block-links__item:nth-child(1):hover{
	background-color: rgb(3, 151, 28);
	color: darkgray;
	opacity: 1;
	text-decoration: underline;
}
.block-links__item:nth-child(2):hover{
	background-color: rgb(159, 197, 23);
	opacity: 1;
	color: black;
}
.block-links__item:nth-child(2):active{
	background-color: brown;
	box-shadow: 0 0 8px 6px yellow;
}

.block-links__item:nth-child(3):visited{
	background-color: chocolate;
	opacity: 0.5;
}
.block-links__item:nth-child(4):focus{
	background-color: darkorange;
	opacity: 1;
	border: 1px solid yellow;
}


#block__text{
	color: rgb(10, 21, 163);
	text-align: center;
	font-size: 50px;
	font-weight: 700;
	padding: 20px;
	text-decoration: overline;
	background-color: coral;
	border-radius: 5px;
	display: none;
}

#block__text:target{
	display: block;
}
/* ======================================= */
.elements__paragraf{
	margin-bottom: 50px;
}
.title {
	text-align: center;
	margin-bottom: 40px;
 }
 .elements__paragraf p{
	 padding: 15px;
	 font-size: 19px;
	 line-height: 1.4;
	 color: #083304;
 }
.elements__paragraf p:not(:last-child) {
	margin-bottom: 24px;
 }
 .elements__paragraf :nth-child(odd){
	 background-color: chocolate;
	 border-radius: 15px;
	 padding: 25px;
	 color: aliceblue;

 }
 .elements__paragraf p:hover:nth-child(odd){
	 transform: scale(1.1);
	 transition: all 0.8s ease 0s;
 }
 .elements__paragraf p:nth-child(even){
	 background-color: darkgreen;
	 color: azure;
	 border-radius: 10px;
	 box-shadow: inset 0 0 11px 4px black;
 }
 .elements__paragraf p:first-child{
	 text-transform: uppercase;
 }
 /* ======================================== */
.elements__list{
	margin-bottom: 100px;
}
ul ul{
	display: none;
}
ul li:hover ul{
	display: block;
}

.elements__list-item {
	 font-size: 32px;
	 color: #1E212C;
	 font-weight: 700;
	 margin-bottom: 8px;
 }
 .elements__list-item > ul li{
	 font-size: 18px;
	 padding-left: 25px;
	 font-weight: 400;
	 color: #787A80;
	 text-decoration: underline;
 }
 
 .elements__list-item > ul li::before{
	content: "";
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../image/check.svg)0 0 no-repeat;
 }
 .elements__list-item > ul li:hover::before{
	 transform: rotate(360deg);
	transition: all 0.8s ease 0s;
 }
 /* ================================== */

.button a{
	display: inline-block;
	background: red;
	padding: 10px 30px;
	border-radius: 12px;
	color: #fff;
	font-size: 25px;
	text-transform: uppercase;
	min-height: 26px;
	box-shadow: 2px 2px 9px 3px #1E212C;
	margin: 0 0 20px 10px;
 }
.button a:hover{
	box-shadow: 2px 2px 5px 1px #1E212C;
}
.button a:active{
	box-shadow: none;
}
.button a::after{
	content: "";
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url("../image/share-arrow.svg") 0 0/ 24px 24px no-repeat;
	margin: 0 0 0 20px;
}

/* =================Game=============================== */

.body{
	background: rgb(133, 136, 124);
}
.game-block-title h2{
	font-size: 45px;
    font-weight: 500;
    text-shadow: 0 6px 5px rgb(91 102 97);
    text-align: center;
	 margin-top: 100px;
}
.game-block-title a{
	display: block;
	max-width: 80px;
	min-height: 80px;
	background:url(../image/polygon.svg)53% 50% no-repeat red;
	margin: 30px auto 50px;
	border-radius: 50%;
	box-shadow: 0 0 6px 2px white;
}
.game-block-title a:hover{
	box-shadow: 0 0 4px 2px black;
}
.game-block-title a:active{
	box-shadow:inset 0 0 4px 2px black;
}

.button-back a{
	display: block;
	max-width: 90px;
	min-height: 90px;
	text-align: center;
	padding-top: 30px;
	margin-top:20px ;
	color: white;
	border-radius: 50%;
	background: #424551;
	box-shadow: 0 0 8px 2px white ;
}
.button-back a:hover{
	box-shadow:0 0 6px 1px white;
}

#game-block{
	width: 100%;
	min-height: 1000px;
	background-color: rgb(170, 53, 53);
	margin-top: 140px;
	display: none;
}
#game-block:target{
	display: block;

}
#game-block{
	margin-bottom: 150px;
}
.game-block__one{
	max-width: 50px;
   min-height: 200px;
   background-color: #347c04;
	color: white;
	writing-mode: vertical-lr;
	text-orientation: upright; 
	font-size: 30px;
	font-weight: 700;
}
.game-block__one:hover + .game-block__two{
	visibility: visible;
}
.game-block__two{
	max-width: 51%;
	min-height: 30px;
	background-color: rgb(204, 128, 7);
	visibility: hidden;
}
.game-block__two:hover+
.game-block__three,
.game-block__two:hover{
	visibility: visible;
}

.game-block__three{
	max-width: 25px;
	min-height: 45px;
	margin: 0 auto;
	background-color: rgb(204, 128, 7);
	visibility: hidden;
}
.game-block__three:hover+
.game-block__four,
.game-block__three:hover{
	visibility: visible;
}
.game-block__four{
	max-width: 51%;
	min-height: 25px;
	background-color: rgb(204, 128, 7);
	margin: 0 0 0 auto;
	visibility: hidden;
}
.game-block__four:hover+
.game-block__five,
.game-block__four:hover{
	visibility: visible;
}
.game-block__five{
	max-width: 25px;
	min-height:190px ;
	background-color: rgb(204, 128, 7);
	margin-left:1110px ;
	transform: skew(-45deg);
	visibility: hidden;
}
.game-block__five:hover+
.game-block__six,
.game-block__five:hover{
	visibility: visible;
}
.game-block__six{
	max-width: 350px;
	min-height:25px ;
	background-color: rgb(204, 128, 7);
	border-radius: 0 0 0 30px;
	margin-left:680px ;
	transform: skewX(-40deg);
	visibility: hidden;
}
.game-block__six:hover+
.game-block__seven,
.game-block__six:hover{
	visibility: visible;
}
.game-block__seven{
	width: 35px;
	height: 280px;
	background-color: rgb(204, 128, 7);
	transform: skewX(45deg);
	margin:-25px 0 0 794px;
	visibility: hidden;
}
.game-block__seven:hover+
.game-block__eight,
.game-block__seven:hover{
	visibility: visible;
}
.game-block__eight{
	max-width:79%;
	min-height: 30px;
	border-radius: 0 10px 0 0;
	background-color: rgb(204, 128, 7);
		visibility: hidden;
}
.game-block__eight:hover+
.game-block__nine,
.game-block__eight:hover{
	visibility: visible;
}
.game-block__nine{
	max-width: 35px;
	min-height:235px;
	background-color: rgb(204, 128, 7);
		visibility: hidden;
}
.game-block__nine:hover+
.game-block__ten,
.game-block__nine:hover{
	visibility: visible;
}
.game-block__ten {
	max-width: 100%;
	min-height: 35px;
	background-color: rgb(204, 128, 7);
		visibility: hidden;
}
.game-block__ten:hover{
	visibility: visible;
}
.game-block__eleven{
	max-width: 50px;
	min-height: 100px;
	background-color: #347c04;
	margin:0 0 0 auto;
	color: white;
	writing-mode: vertical-lr;
	text-orientation: upright;
	font-size: 30px; 
	padding: 5px;
	font-weight: 700;
}

span:hover{
	color: red;
	text-shadow: 0 5px 4px rgb(26, 25, 25);
	transform: scale(1.8);
	transition: all 0.8s ease 0s;
}




